:root {
    --black:#0D0D0D;
    --gray: #2A2A2A;
    --white: #F7F7F7;
    --green: #104E1D;
    --red: #ff1414;
}

*{/*
    border: 2px solid var(--green);*/
    color: var(--white);
}

html{
    text-decoration: none;
    background: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    
}

.button{
    background-color: transparent;
    margin-top: 2px;
    padding: 0.5em;
}


.box{
    display: flex; 
    flex-direction: column;
    width: 100%;
    
}

.box-header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.box-header a .logo{
    width: 480px;
    padding-left: 2em;
}
.box-header .button{
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-self: center;
    font-size: 1.5em;
    width: max-content;
    height: auto;
    align-items: center;
}
.box-header .button a {
    margin-right: 0.5em;
    margin-top: 20vh;
    padding: 1.2em;
    width: 10%;
    border: 2px solid var(--white);
    border-radius: 10% / 50%;
    text-decoration: none;
}
.logoff{
    margin-top: 20vh;
   align-items: center;
}
.user-icon{
    flex-wrap: nowrap;
    flex-direction: row;
    align-self: center;
    float: right;
    margin-right: 3em;
    font-size: 1.5em;
    height: 10vw;
}

.box-underliner picture img{
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
}

.box-underliner picture{
    width: 100%;
}



@media (max-width: 1200px)
{
    .box-header a{
        width: 40%;
    }

    .box-header a .logo{
        width: 100%;
    }
    
}
@media (max-width: 730px)
{
    .box-header{
        width: 100%;
        border-bottom: var(--white);
    }

    .box-header .logo{
        width: 40%;
    }

    .box-header .button{
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-self: center;
        font-size: 1em;
        height: auto;
    }

    .box-header .button a {
        margin-right: 0.3em;
        font-size: 1em;
        padding: 1em 0.2em 1em 0.2em;
        border: 1px solid var(--white);
        border-radius: 10px;
    }
    
}

