:root {
    --black:#0D0D0D;
    --gray: #2A2A2A;
    --white: #F7F7F7;
    --green: #104E1D;
    --red: #ff1414;
}

*{/*
    border: 2px solid var(--green);*/
    color: var(--white);
}

html{
    text-decoration: none;
    background: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    
}

.button{
    background-color: transparent;
    margin-top: 2px;
    padding: 0.5em;
}


.box{
    display: flex; 
    flex-direction: column;
    width: 100%;
    
}

.box-header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.box-header a .logo{
    width: 480px;
    padding-left: 2em;
}
.box-header .button-with_Account {
    /* flex-wrap: nowrap; */
    /* flex-direction: row-reverse; */
    /* align-self: center; */
    font-size: 1.5em;
    /* width: max-content; */
    /* height: auto; */
    /* align-items: center; */
    text-align: right;
}
.box-header .button-with_Account a {
    margin-right: 0.5em;
    /* margin-top: 20vh; */
    padding: 1.2em;
    /* width: 10%; */
    border: 2px solid var(--white);
    border-radius: 10% / 50%;
    text-decoration: none;
    vertical-align: middle;
}

.box-header .button-no_account {
    /* flex-wrap: nowrap; */
    /* flex-direction: row-reverse; */
    align-self: center;
    font-size: 1.5em;
    /* width: max-content; */
    /* height: auto; */
    text-align: right;
}

.box-header .button-no_account a{
    margin-right: 0.5em;
    /* margin-top: 20vh; */
    padding: 1.5em;
    /* width: 10%; */
    border: 2px solid var(--white);
    border-radius: 10% / 50%;
    text-decoration: none;
    vertical-align: middle;

}

.user-icon{
        /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    /* align-self: center; */
    /* float: right; */
    margin-right: 1em;
    font-size: 1.5em;
    height: 11vw;
    vertical-align: middle;
    display: inline-block;
}

.box-underliner picture img{
    width: 98%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
}

.box-underliner picture{
    width: 100%;
}

p {
    color: var(--black);
    margin-bottom: 0px;
}


.box-body{
    display: flex;
    justify-content: center;
    color: var(--black);
}

.box-body *{
    color: var(--black);
}

.box-body div {
    justify-content: left;
    color: var(--black);
    display: flex;
    width: 70%;
    background-color: var(--white);
    color: var(--black);
    padding: 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-body div div{
    background-color: var(--white);
    color: var(--black);
    margin-bottom: 1em;
}

.box-body div .post{
    background-color: var(--white);
    color: var(--black);
    width: 20%;
    padding: 5%;
    margin-bottom: 1em;
}

.box-body div .post .post-content{
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    margin-bottom: 1em;
}

.box{
    width: 80%;
    display: inline;
}

.box-image-label{
    font-size: 2.5em;
}

.post-site{
    width: 100%;
}

.post-img{
    width: 20vw;
}


.box-image{
 width: 3vw;
}

h1{
    margin: 0px;
}

form {
    color: var(--black);
    padding-left: 1em;
}

.box-body-account {
    display: flex;
    justify-content: center;
    color: var(--black);
}

.box-body-account * {
    color: var(--black);
}

.box-body-account div {
    width: 70%;
    background-color: var(--white);
    padding: 5%;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex; 
    justify-content: left;
    color: var(--black);
}

.box-body-account div div {
    flex-direction: row;
    padding-left: 0px;
    width: 100%;
}

.error-box {
    color: var(--red);
    font-size: 1.5em;
}

.box-body-create{
    display: flex;
    justify-content: center;
}

.post{
    width: 20%;
}

.post-content{
    width: 100%;
}

.post-content div{
    display: block;
}

.post-content-img{
    width: 100%;
}

.box-body-create *{
    color: var(--black);
    display: inline-block;
}

.box-body-create .box-body-create-data{
    width: 70%;
    background-color: var(--white);
    padding: 5%;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex; 
    justify-content: left;
    color: var(--black);
}
.box-body-create .box-body-create-data .box-body-create-left{
    width: 100%;
}

.box-body-create .box-body-create-data .box-body-create-right{
    padding-top: 5vh;
    margin-left: 5vh;
    width: 50%;
}

.box-body-create .box-body-create-data .box-body-create-left div{
    display: block;
    width: 100%;
}

.box-body-create .box-body-create-data .box-body-create-right div{
    display: block;
    width: 100%;
}

.box-body-create .box-body-create-right .input div{
    display: inline-block;
    width: 100%;
}


.box-body-create .box-body-create-data .box-body-create-right .input div div img{
    display: block;
    max-width: 19vw;
}

.dummy-button{
    pointer-events: none;
    position: absolute;
}

.image-button-container {
    position: relative;
}

.image-button-container label {
    display: block;
}

.image-button-container input {
    opacity: 0;
}

.file-upload-button{
    display: block;
}

.box-body-create div .input * {
    margin: 0px;
    margin-bottom: 1vh;
}

.text-box{
    width: 100%;
    
}

.text-box-data{
    display: inline-block;
    width: 90%;
}

.titel{
    width: 70%;
}

.license{
    display: block;
    width: 100%;
}

.license div{
    width: 100%;
}

.role *{
    display: inline-block;
}


@media (max-width: 1200px)
{
    .box-header a{
        width: 40%;
    }

    .box-header a .logo{
        width: 100%;
    }
    
    .user-icon{
        height: 12vw;
    }
}
@media (max-width: 750px)
{
    .box-header{
        width: 100%;
        border-bottom: var(--white);
    }

    .box-header .logo{
        width: 40%;
    }

    .user-icon{
        height: 13vw;
        margin-right: 0px;
    }
   
    .box-header .button-no_account a{
        margin-right: 0px;
        padding: 1vw;
        font-size: 0.7em;
    }

    .box-header .button-with_Account a {
        margin-right: 0px;
        padding: 1vw;
        font-size: 0.7em;
    }
    
    .box-body-create .box-body-create-data{
        width: 100%;
    }

    .role *{
        display: block;
    }
}

